.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.qte {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.qte-item {
  display: flex;
  background-color: antiquewhite;
  color: #282c34;
  font-weight: bold;
  text-transform: uppercase;
  width: 60px;
  height: 60px;
  border-radius: 10%;
  margin: 10px;
  font-size: 40px;
  align-items: center;
  justify-content: center;
}

.good-item {
  background-color: gray;
}

.progress-bar {
  background-color: orange;
  -webkit-transition: width 0.3s ease;
  -o-transition: width 0.3 ease;
  transition: width 0.3 ease;
  height: 20px;
}

button {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.qte-win {
  margin-bottom: 20px;
}